body {
    margin: 0;
    padding: 0;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    gap: 20px;
}

.header {
    background-color: rgb(226, 232, 255);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#options {
    display: inline;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#grid {
    border: 1.2px solid rgb(255, 81, 72);
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.footer {
    background-color: rgb(36, 27, 63);
    color: white;
    margin-top: auto;
}